.price {
    height: 60px;
    // border: 1px solid red;
    margin-bottom: 20px;
    background-color: #ddd;
    border-radius: 5px;
    padding-left: 20px;

    &.up .percent {
        color: #b11202;
    }

    &.down .percent {
        color: #007c32;
    }

    > div {
        float: left;
        height: 100%;
        line-height: 60px;
        font-size: 40px;
        font-weight: bold;
    }
}


.name {
    width: 150px;
    font-weight: bold;
    // border: 1px solid red;
}

.current {
    // border: 1px solid red;
    width: 250px;
}

.currency {
    font-size: 20px;
}

.percent {
    font-size: 30px!important;
}